html{
    scroll-behavior: smooth;
}
main{
    background-color: #faffe9;
    margin-top: -5%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.page-container{
    background-color: #faffe9;
    margin: 5%;
    padding: 1vw;
    height: 100vw;
}
#hero-section{
    background-color: #faffe9;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}
.prodDetails{
    background-color: #faffe9;
    display: flex;
    align-items: center;

}
.section-spacing{
    background-color: #faffe9;
    width: 5vw;
    height: 30vw;
}
.product-image{
    background-color: #faffe9;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-img{
    background-color: #faffe9;
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.img-container{
    background-color: #faffe9;
    width: 20vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AddToWishListcont{
    background-color: #faffe9;
    width: 7vw;
    height: 1.5vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #347d56;
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 600 vw;
}
.AddToWishListcont img{
    width: 1vw;
    margin-right: 0.1vw;
}
#WishListedIcon{
    display: none;
}
.AddToWishListcont:hover #toWishListIcon{
    display: none;
}
.AddToWishListcont:hover #WishListedIcon{
    display: block;
}
.commerce-zone{
    background-color: #faffe9;
    width:51vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}
.prodSumHeader{
    background-color: #faffe9;
    width: 50vw;
    margin-top: 1vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.prodHeaderInfo{
    background-color: #faffe9;
    height: 8vw;
    width: 48vw;
}
.prodHeaderTitle{
    background-color: #faffe9;
    height: 3.5vw;
    width: 48vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.prodHeaderAuthor{
    background-color: #faffe9;
    height: 2vw;
    width: 48vw;
    display: flex;
    align-items: center;
}
.ratingDisplay{
    background-color: #faffe9;
    height: 2.5vw;
    width: 48vw;
    border-bottom: 0.1vw solid grey;
}
.priceContainer{
    width: 48vw;
    height: 20vw;
    background-color: transparent;
    border-bottom: 0.1vw solid grey;
}
.priceZone{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}
.cartBloc{
    background-color: #faffe9;
    height: 17vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purchase{
    background-color: #faffe9;
    height: 17vw;
    width:48vw;
    display: flex;
}
.priceAndpurchaseBtnCont{
    background-color: #faffe9;
    width: 24vw;
    height: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.purchaseBtn{
    background-color: #faffe9;
    height: 7vw;
    width: 24vw;
    display: flex;
    padding-top: 2vw;
    align-items: flex-center;
}
#titleBook{
    margin-left: 2vw;
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'Times New Roman', serif;
}
#authorBook{
    margin-left: 0.5vw;
    font-size: 0.9vw;
    font-family: 'Times New Roman', serif;
    color: #347d56;
}
#priceBook{
    margin-top: 1vw; 
    margin-bottom: 1vw;
    font-weight: 500;
}
i{
    display: flex;
    margin-left: 2vw;
}
.img-container img{
    width: 18vw;
    height: 27vw;
    box-sizing: border-box;
}
.img-container img:hover{
    border: 0.1vw solid black;
}
.ratingDisplay{
    display: flex;
    align-items: center;
}
.starIco{
    width: 1vw;
    height: 1vw;
}
.starIco:first-child{
    margin-left: 2vw;
}
#ratingNum{
    font-size: 0.8vw;
    font-weight: 100;
    margin-left: 0.5vw;
}
.writeReviewCont{
    margin-left: 0.8vw;
    font-size: 0.7vw;
    font-size: 0.8vw;
    text-decoration: none;
}
.writeReviewCont a{
    color: #347d56;
}
#addBookToCart{
    width: 10vw;
    height: 2.5vw;
    font-size: 0.8vw;
    background-color:#835a4e;
    border-radius: 1vw;
    border: none;
    font-size: 0.9vw;
}
.overview-section{
    background-color: transparent;
    padding: 1vw;
}
.overview-cont{
    padding: 1vw;
    border: 0.1vw solid grey;
}
#overviewTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    font-weight: 500;
    margin-left: -2vw;
}
#overviewHeader{
    font-size: 0.8vw;
    margin-bottom: 1vw ;
}
.overview-cont p{
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.prodDetails-section{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid grey;
    margin-bottom: 1vw;
}
#prodDetailsInfoPanelList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border-bottom: 0.15vw solid grey;

}
#prodDetailsInfoPanelList li{
    border: 0.15vw solid grey;
    border-bottom: none;
    list-style-type: none;
}
#prodDetailsInfoPanelList li button{
    font-size: 0.8vw;
    color: #347d56;
    background-color: transparent;
    border: none;
}
#prodDetailsInfoPanelList li button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.prodDetailsInfoPanelsCont{
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #347d56;

}
.prodPanel{
    background-color: transparent;
    width: 28vw;
    height: 25vw;
    margin: 1vw;
    border-bottom: 0.15vw solid grey;
}
.aboutAuthorInfoCon{
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
}
#aboutAuthorInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20vw;
}
.panelTitle{
    padding: 0.5vw;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#authorPicCont{
    width: 10vw;
    height: 18vw;
}
#authorPicCont img{
    width: 10vw;
    height: 15vw;
}
.panelInfo{
    display: flex;
    align-items: center;
    width: 100%;
}

#authorinfocont{
    display: flex;
    width: 100%;
}
#authorinfocont ul{
    width: 120%;
}
#listOfInfoAuthor li{
    width: 120%;
}
#aboutAuthorTextCont{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vw;
}
.shortBioCont{
    font-size: 0.9vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:1vw;
}

.infoList li{
    list-style-type: none;
    margin: 0.4vw;
    font-size: 1vw;
    font-family: serif;
}
.reviewsSection{
    border-left: 0.1vw solid black;
    border-right: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    width: 100%;
    color: white;
    flex: 1;

}
#tableOfContCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tableCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviewsSection h2, h3, #reviewForm label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    font-weight: 500;
    color: black;
    margin-left: 1vw;
}
.reviewsSection h3{
    font-size: 0.8vw;
    margin: 1vw;
}
#reviewForm{
    height: 10vw;
    width: 95%;
    border: 0.1vw solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
}
#reviewForm label{
    font-size: 0.7vw;
}
#reviewerName, #reviewRating, #reviewTitle{
    background-color: #faffe9;
    border: 0.1vw solid black;
    width: 10vw;
    height: 1.5vw;
    margin: 1vw;
    font-size: 0.8vw;
}
#reviewRating{
    width: 5vw;
    font-size:0.8vw;
    font-weight: 500;
    font-family: serif;
}
.labelAndInputCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}
#reviewText{
    width: 20vw;
    height: 7vw;
    padding: 1vw;
    font-size: 0.8vw;
    margin-left: 1vw;
    resize: none;
}
#submitRevBtn{
    width: 5vw;
    height: 2vw;
    margin: 1vw;
    background-color: #835a4e;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 0.6vw;
    font-family: serif;
    transition: 0.3s;
}
#submitRevBtn:hover{
    background-color:#76a89d;
}
#reviewsContainer{
    display: flex;
    flex-direction: column;
}
.review{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    border: 0.1vw solid black;
}
.review-header{
    display: flex;
    margin: 1vw;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.reviewer-name{
    font-family:sans-serif;
    font-weight: 100;
    font-size: 0.9vw;
    text-decoration: underline;
    color: black;
}
.review-body, .review-title{
    width: 50%;
    margin-left: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.review-body p{
    font-size: 0.8vw;
    color: black;
    width: 50%;
    border: 0.05vw solid black;
    padding: 1vw;
}
.review-rating{
    width: 60%;
}
.review-title{
    display: flex;
    justify-content: flex-end;
}
.review-title strong{
    width: 55%;
    text-decoration: underline;
    color: black;
    font-size: 1vw;
    font-weight: 400;
}
.emptyReview{
    color: black;
    font-size: 0.8vw;
    font-weight: 200;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
    justify-content: center;
    display: flex;
}