main{
    flex: 1;
}
#secHero{
    background-color: red;
    height: 50vw;
    margin: 10vw;
    display: flex;
}
#produitAchetes{
    background-color: #80726e;
    width: 50vw;
    overflow-y: scroll;
}
#produitAchetes h1{
    font-size: 2.5vw;
    margin: 2vw;
}
.bookBuy{
    background-color: brown;
    margin: 2vw;
    height: 20vw;
    display: flex;
}
#paiement{
    background-color: #aec5c2;
    width: 30vw;
}
.buybookImg{
    background-color: black;
    height: 15vw;
    margin: 2vw;
}
.buybookImg img{
    height: 15vw;
}


#buybookInformations{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 2vw;
}
.buybookInfo{
    background-color: blue;
    height: 10vw;
    width: 15vw;
}
.buybooktitle, .buybookauteur{
    font-size: 2vw;
    margin: 1vw;
}
.buybookauteur{
    font-size: 1.5vw
}