.sideNav{   
    border-right: 2px solid black;
    height: 50vw;
    margin-left: 2vw;
    width: 16vw;
}
.mainCatpanel{
    width: 80vw;
    margin-right: 2vw;
    height: 50vw;
}
main{
    display: flex;
    justify-content: center;
}
.herocat{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.herocat2{
    display: flex;
}
.categorieTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 50%;
}
h5{
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainCatpanel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mainCatpanel h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: serif;
    font-weight: 400;
}
.categorieBooks{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.categorieBook{
    width: 10%;
    height: 30%;
    margin: 1vw;
    margin: 2vw;
}
.catbookimg{
    width: 150%;
    height: 120%;
}
.catbooktitle ,.catbookauthor{
    font-size: 1vw;
    color: black;
    font-weight: 300;
    font-family: serif;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 10vw;
    display: inline-block;
}
.catbookauthor{
    font-size: 0.8vw;
}
.sideNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    margin: 2vw;
    font-family: serif;
}
.sideNav li{
    margin: 2vw;
}
.sideNav a{
    margin: 0.5vw;
    color: rgb(51, 97, 34);
    text-decoration: none;
}