
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #faffe9;
}
header{
    background-color: #faffe9;
    position: sticky;
    top: 0;
    z-index: 100000;
    height: 10;
    border-bottom: #113959 solid;
}
.header-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header-elements a{
    text-decoration: none;
}
#name{
    font-size: 2.1vw;
    color: #000000;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    position: relative;
    left: 1vw;
}

.navOpt a{
    font-size: 0.8vw;
    text-decoration:none;
    font-weight:500;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    padding: 0.4vw;
    padding-left :0.7vw ;
    padding-right :0.7vw ;
    background-color: #292f3b;
    box-shadow: 3px 3px 0.5px #76a89d;
    border-radius: 1vw;
}
.navOpt a:hover{
    color: #ffffff;
    box-shadow: 1px 1px 0.5px #76a89d;
}
#button{
    background-color: #76a89d;
    position: relative;
    left: 16vw;
    color: #000000;
    border: none;
    font-size: 0.9vw;
    border-radius: 2rem;
    width: 5vw;
    height: 1.5vw;
    transition: 0.3s;
}
#button:hover{
    cursor: pointer;
    background-color: #292f3b;
    color: white;
}
.cart{
    display: flex;
    justify-content: flex-end;
    width: 1vw;
    left: 10vw;
    position: relative;
}
.cart img{
    width: 2.5vw;
    height: 2.5vh;
}
.sectionaccueil{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sectionaccueilDiv{
    width: 25vw;
}
#welcmTextCont{
    position: relative;
}
#welcmTextCont h1{
    font-size: 2.8vw;
}
.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8vw;
    left: 35vw;
}
.search-recs{
    background-image: radial-gradient(circle, #faffe9 0%, #76a89d 100%);
    width: 100%;
    border-bottom-left-radius:1vw;
    border-bottom-right-radius: 1vw;
    border-top: 3px solid #faffe9;
}
.search-recs ul{
    max-width: 28vw;
}
.search-recs ul li{
    list-style: none;
    padding: 1vw 1vw;
    cursor: pointer;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 26.8vw;
}
.search-recs ul li:hover{
    background-color: #76A89D;
    border-radius: 1vw;
}
#searchbox{
    width: 25vw;
    height: 2vw;
    background-color: #76a89d;
    border: none;
    border-right: 0.2rem solid #faffe9;
    padding: 0.5rem;
    font-size: 1vw;
    color: black;
}
#srch-ico{
    padding: 1vw;
    height: 2vh;
    width: 1vw;
}
#srch-btn{
    background-color: #76a89d;
    transition: 0.4s;
    height: 2.7vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#srch-btn:hover{
    background-color: #292f3b;
}
::placeholder{
    font-size: 1vw;
    color: black;
}
input:focus{
    outline: none;
}
.homeImg{
    background-color: transparent;
    position: relative;
    height: 28vh;
}
.homeImg img{
    height: 30vh;
    width: 15vw;
    position: relative;
    top: -1vw;
}
.sectionaccueil2{
    background-color: #292f3b;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s2Items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.s2item{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0rem 2rem 0.9rem;
    height: 4vw;
    width: 4vw;
    padding: 0.5vw;
    border-radius: 50%;
    background-color: #faffe9;
}
.s2item img{
    height: 2vw;
    width: 2vw;
}
.s2ItemParent{
    margin: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.s2ItemParent h4{
    color: white;
    font-size: 0.7vw;
}
.trdtitle{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
.trdtitle h1{
    font-size:2.5vw;
    font-family: serif;
}
.trendingSection{
    margin: 2rem 6rem 2rem;
    border-radius:2rem;
    background-color: #835a4e;
    display: flex;
    padding: 1rem 0.7rem 1.4rem 0.7rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.trending{
    height: 16vw;
    width: 14vw;
    display: flex;
    justify-content: center;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}
.trdimg{
    height: 16vw;
    width: 11vw;
    transition: 0.2s;
    box-shadow: 9px 7px 9px rgb(50, 51, 52);
}
.trdimg:hover{
    height: 17vw;
    width: 12vw; 
}
.bestSellerSection{
    margin: 0rem 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 3vw;
    flex-wrap: wrap;
    border:0.3rem solid #292f3b;
    border-radius: 2rem;
    position: relative;
}
.bsttitle{
    margin-top: 2vw;
    margin-bottom: -3.5vw;
    display: flex;
    justify-content:flex-start;
    position:relative;
    left: 6vw;
    z-index: 120;
    width: 12vw;
    background-color: #faffe9;
}
.bsttitle h1{
    font-size:2.5vw;
    font-family: serif;
}
.bestSeller{
    height: 20vw;
    width: 14vw;
    display: flex;
    justify-content: center;
    margin: 2rem 2rem 1rem;
}
.bstimg{
    height: 21vw;
    width: 19vw;
    transition: 0.3s;
    margin-top: 1vw;
    box-shadow: 0px 3px 20px rgb(0, 0, 0);
}
.bstimg:hover{
    height: 22vw;
    width: 20vw;
    z-index: 12;
}
.morebtn{
    margin-right: 6rem;
    position: relative;
    top:3.2vw;
    left: 87vw;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    width: 10vw;
}

#morebtn{
    cursor: pointer;
    color: white;
    background-color: #292f3b;
    width: 6vw;
    height: 2.5vw;
    border: none;
    border-radius: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.35s;
    box-shadow: 8px 5px 1px #76a89d;
    z-index: 200;
}

#morebtn:hover{
    background-color: #76A89D;
    box-shadow: 0px 0px 1px black;
}
footer{
    background-color: #faffe9;
    border-top: #113959 solid;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footerInfo{
    display: flex;
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footeroptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}
.footeroptions a{
    margin: 1.2vw;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.footeroptions h1{
    font-size: 1.5rem;
    font-weight: 300;
    transition: 0.2s;
}
#logor{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ftrlogo:hover {
    font-size: 1.52rem;
}
.footeroptions a:hover{
    text-decoration:underline;
}
#mapCont{
    position: relative;
    height: 100%;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapId{
    width: 15vw;
    height: 80%;
    padding: 0.3vw;
    border: 0.1vw solid black;
}
#socialCont{
    width: 40vw;
    position: relative;
    right: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.socialIcon img{
    width: 2vw;
    height: 2vw;
    transition: 0.1s smooth;
}
.socialIcon img:hover{
    width: 2.1vw;
    height: 2.1vw;
    box-shadow: 1vw 1vw 10vw rgb(152, 152, 152);
}
